@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.searchbox{
  box-sizing: border-box;
  display: flex;
  background: #FFFFFF;
  border: 1px solid rgba(30, 30, 30, 0.69);
}

.btn{
  font-family:'Poppins';
  font-size: 36px;
  color: #FFFFFF;
}
.btn:hover{
  
}

.nav{
  font-size: 12px;
  font-family: 'Poppins';
  color: #F51055;
  padding: 0 2rem;
  border-bottom: 1px solid rgba(204, 204, 204, 0.92)
}
.search-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
.search-wrap{
  padding: 1rem;
  border: 1px solid rgba(204, 204, 204, 0.92);
  width: 60%;
  margin: 1rem;
  display: flex;
  align-items: center;
}
.search-wrap input{
  border: none;
  width: 100%;
  outline: none;
  color: rgba(123, 123, 123, 0.92);
  font-size: 20px;
  padding: 1rem;
  border-radius: 10px;
}

.search-content button{
  transition: 0.4s;
  margin: 1rem;
  background-color: #F51055;
  border: none;
  cursor: pointer;
  padding: 0.8rem 2rem;
  font-size: 1.5rem;
}

.search-content h1{
  padding: 4rem 1rem;
  font-size: 48px;
  text-align: center;
}

.outcome h3{
  margin-left: 20px;
}
.recipe{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
  padding: 15px;
}
.card{
  border: 0.9px solid rgb(249, 123, 144);
  padding: 25px 35px;
  border-radius: 8px;
}
.card img{
  width: 100%;
  height: 214px;
  object-fit: cover;
  border: 0.5px solid black;
}

.card button{
  background-color: #F51055;
  border: none;
  border-radius: 3%;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  color: white;
}
.get-content{
  display: flex;
  justify-content: center
}
.card h3{
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

.toast{
  background-color: #f5105548;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 0rem 1rem;
  color: #F51055;
  justify-content: space-between;
  height: 2.6rem;
  margin-right: 10px;
}
.toast span{
  padding-right: 10px;
}






@media screen and (max-width: 600px){
  .search-box{
      width: 540px;
      margin-left: auto;
      margin-right: auto;
  }
  .search-wrap input{
    font-size: 14px;
  }
  .search-content h1{
    margin: 15px 0;
    padding: 2rem 1rem;
  }
  .outcome h3{
    margin-top: 10%;
  }
  .toast span{
    padding-right: 5px;
    font-size: 14px;
  }
}

@media screen and (min-width: 768px){
  .content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
  .card{
      margin: 0;
  }
  .outcome h3{
    margin-top: 5%;
  }
}

@media screen and (min-width: 992px){
  .content{
      grid-template-columns: repeat(3, 1fr);
  }
  .outcome h3{
    margin-top: 5%;
  }
}